.App {
  display: table;
  height: 100%;
}

html, body {
  height: 100%;
  overflow: hidden;
}

.engine{
  position: absolute;
  height: 100%;
  width: 100%;
}

.engine > .loading-overlay {
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: red;
  font-weight: bold;
}